<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cancel Order | DEM FITS</title>
  </head>
  <body>
    <h1>Cancel Order</h1>
    <form action="">
      <label for="">Enter name:<input type="text" /></label>
      <br />
      <br />
      <button type="submit">Cancel Order</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>
