<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Get Inspired | DEM FITS</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <h1>Get Inspired</h1>

  <div class="inspiration-content">
    <p>Select a category above to get inspired!</p>
  </div>

  <!-- BUTTONS for clothings -->
  <div class="inspiration-buttons">
    <button>TOPS</button>
    <button>BOTTOMS</button>
    <button>DRESSES</button>
    <button>SHOES</button>
    <button>ACCESSORIES</button>
    <button>OUTFITS</button>
  </div>

</body>
</html>