<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Get Inspired | DEM FITS</title>

    <!-- Google Font: BBH Batle -->
     <!-- Google Font: BBH Batle -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Pacifico&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="inspiration">
  <h1>Get Inspired!</h1>

  <!-- BUTTONS for clothings -->
  <div class="inspiration-buttons">
    <button class="btn" onclick="loadTops()">TOPS</button>
    <button class="btn" onclick="loadBottoms()">BOTTOMS</button>
    <button class="btn" onclick="loadDresses()">DRESSES</button>
    <button class="btn" onclick="loadShoes()">SHOES</button>
    <button class="btn" onclick="loadAccessories()">ACCESSORIES</button>
    <button class="btn" onclick="loadOutfits()">OUTFITS</button>
  </div>

  <div class="inspiration-display">
      <p class="placeholder-text" id="placeholder">
  Select a category above to get inspired!
</p>


       <div class="tops-grid" id="topsGrid"></div>

    </div>
</div>

<!-- Image zoom modal -->
<div class="image-modal" id="imageModal">
  <span class="close">&times;</span>
  <img id="modalImage">
</div>

<script src="/getinspirations.js">
</script>


</body>
</html>