<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review Dates | DEM FITS</title>
  </head>
  <body>
    <h1>Review Dates</h1>
    <form action="">
      <label for="">Search by Name<input type="text" /></label>
      <label for="">Search by Date<input type="text" name="" id="" /></label>
    </form>
    <a href="/">Home</a>
  </body>
</html>
