<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review Dates | DEM FITS</title>
  </head>
  <body>
    <h1>Review Dates</h1>
    <form action="/reviewdates" method="POST">
      <label for="search">Search by Name or Date:</label>
      <input type="text" name="search" id="search" required />
      <br />
      <br />
      <button type="submit">Search</button>
    </form>
    <a href="/">Home</a>
  </body>
</html>
